#gameTitle {
    text-align: center;
    background-color: burlywood;
    padding-bottom: 10px;
    padding-top: 10px;
};

#topDiv {
    display: flex;
    
    margin: auto;
    width: 50%;
    
};

#roundIndicator {
    margin: 10px;
    text-align: center;
}

.grey {
    text-align: right;
    background-color: darkgrey;
    position:absolute;
    bottom:0;
    width:100%;
    height:45px;   
    background-color: darkgrey;
}